.container {
background-color: #eee;
max-width: 900px; 
margin: 0 auto;
display: grid; 
grid-template-columns: repeat(9, 1fr);
}

.container > div {
background-color: #ccc;
text-align: center;
padding: 20px;
border: 1px solid #777;
}

.container > div:first-child {
    grid-row:span 3;
  }